---
---
/*
 * Global resets
 */

html, input.button, input.textfield {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

input.button, input.textfield {
  border-radius: 4px;
}

input.button, input.textfield  {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 6px 12px;
  -webkit-appearance: none;
}

$right_div_width: 100px;
.email_button {
  float:right;
  width:$right_div_width;
  text-align:right;
}

.email_text {
  margin-right:$right_div_width;
}

input.button:hover {
  background-color: #eee;
}

input.textfield {
  width:100%;
}

.email_signup {
  margin-bottom:30px;
}

@media (min-width: 48em) {
  html, .email {
    font-size: 16px;
  }
  input.button, input.textfield, label {
    font-size: 13px;
  }
}
@media (min-width: 58em) {
  html, .email {
    font-size: 20px;
  }
  input.button, input.textfield, label {
    font-size: 15px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: #fff;
}

/* About section */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom:0;
  font-size: 2.3rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    2rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}

div .ie9_responsive_svg {
    position:relative;
    padding-bottom:100%;
    height:0;
}

svg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}
