body {
	font-family:"Arial","sans-serif";
}

#resume {
    padding:5em;
}

#candidatesEmail {
    float:left;
    clear:left;
    width:20%;
}

#candidatesGit {
    margin-left:20%;
    text-align:right;
}  

a {
   text-decoration:none; 
}

@media screen and (max-width:600px) {
	#resume {
            padding:0em;
	}

 	#candidatesEmail {
	    float:right;
            clear:none;
            width:100%;
	}

	#candidatesGit {
            margin-left:0%;
            text-align:left;
	} 
}

#header, h2 {
    border-bottom:1px solid black;
}

h2 {
    font-size:140%;
    margin-bottom:0.1em;
    margin-top:0.5em;
    font-weight:normal;
}

#candidatesName {
	font-size:180%;
	font-weight:bold;
}

#candidatesField {
	font-size:120%;
}

#contactDetails, h2, 
#honorsAndAwards ul li .date,
.durationSummary, a {
	color:gray;
}

.jobSummary,
#honorsAndAwards ul li .placement .extra {
	color:dimgray;
}

@media (min-width:1200px) {
	#Jobs, #summaryBlurb, #header {
		float:left;
		clear:left;
		width:45%;
		margin-right:5%;
	}
	#honorsAndAwards, #education, #professionalSkills {
		margin-left:55%;
	}
}

.title {
	font-weight:bold;
	font-size:115%;
}

.job {
	padding-bottom:1em;
}

ul {
	margin-top:0em;
}

.university {
	font-weight:bold;
}

#honorsAndAwards ul li, #honorsAndAwards ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#honorsAndAwards ul li, .skill {
	padding-bottom: 0.4em;
}

#honorsAndAwards ul li .placement {
	padding-left: 1em;
}

#honorsAndAwards ul li .placement .extra {
    font-style:italic;
}

@media print {
    #resume {
        margin:0;
        padding:0 10%;
    }

    #header {
        padding-top:10%;
    }

    #professionalSkills{
	    page-break-before:always;
        padding-top:10%;
    }
}
